* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

.todo {
  margin: 10px 0;
}

.todo span {
  margin-right: 10px;
}

.todo form {
  display: inline-block;
}

.todo__update_field {
  padding: 5px;
}

.todo__update_form {
  display: none;
}
